build/
.gradle/
src/main/resources/config.js
src/main/resources/config.json
*.der
*.pem
node_modules
webapp/config.js
webapp/build
.classpath
.project
.settings/
bin/
artifacts/
.DS_Store

src/main/webapp/*
!src/main/webapp/WEB-INF/

.idea/
.vscode
