body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.email-body {
    background-color: #ffffff;
    color: #b9113d;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15008px;
    line-height: 1.5;
    padding: 32px 0;
}
.email-table {
    margin: 0 auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 0;
}
.email-header {
    padding: 16px 24px;
}
.email-banner {
    outline: none;
    border: none;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
}
.email-title {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    padding: 16px 24px;
}
.email-text {
    color: #a3244a;
    font-size: 18px;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 16px 24px;
}
.email-button-container {
    background-color: #ffffff;
    text-align: center;
    padding: 16px 24px;
}
.email-button {
    color: #ffffff;
    font-size: 16px;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-weight: bold;
    background-color: #f4f1f1;
    border-radius: 4px;
    display: block;
    padding: 16px 32px;
    text-decoration: none;
    background: #a3244a url('../img/button-primary.svg') no-repeat right;
}
.email-footer-text {
    color: #a3244a;
    font-size: 18px;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-weight: normal;
    padding: 16px 24px;
}
.email-divider hr {
    width: 100%;
    border: none;
    border-top: 3px solid #8b173a;
    margin: 0;
}
.email-footer {
    color: #a3244a;
    font-size: 16px;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-weight: normal;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.email-footer p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}
.email-footer .icon {
    display: flex;
    align-items: center;
}